# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.save

*.zip

Offline 1 (A-star search)/1905045/

Offline 2 (Adversarial search)/1905045/

Offline 3 (Local search)/set1/

*.in

Offline 3 (Local search)/.vscode/

Offline 3 (Local search)/1905045/
